:root {
    --vp-font-family-mono: "monospace";
    --vp-font-family-base: "main";
}
@font-face {
    font-family: "symbols";
    src: url("/Noon-Docs/assets/fonts/M3Icons.ttf") format("truetype");
}
@font-face {
    font-family: "main";
    src: url("/Noon-Docs/assets/fonts/GoogleSansFlex.ttf") format("truetype");
}
@font-face {
    font-family: "variable";
    src: url("/Noon-Docs/assets/fonts/GoogleSansFlex.ttf") format("truetype");
}
@font-face {
    font-family: "monospace";
    font-size: 14;
    font-weight: 600;
    font-variant-ligatures: contextual;
    src: url("/Noon-Docs/assets/fonts/Iosevka.ttf") format("truetype");
}
